body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1A2421;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #B2AC88;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    color: black;
}

p {
    color: black;
    line-height: 1.6;
}